/* Общие стили для страницы */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif; /* Современный шрифт */
}

/* Контейнер для всего содержимого */
.container {
  padding: 0 43px; /* Отступы по бокам от краев экрана */
  max-width: 1200px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Центрирование контейнера */
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between; /* Элементы на противоположных краях */
  align-items: center;
  padding: 20px 20px 20px 43px; /* Уменьшение правого отступа */
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Линия снизу */
   /* Закругленные края */
  width: 100%; /* Полная ширина, чтобы занять всю доступную ширину */
  max-width: 1200px; /* Максимальная ширина, чтобы соответствовать контейнеру */
  margin: 0 auto; /* Центрирование шапки */
}

/* Логотип и текст */
.nav-header-logo {
  display: flex;
  align-items: center;
}

.nav-header-logo img {
  width: 50px; /* Чуть крупнее, как в макете */
  margin-right: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.store-name {
  font-size: 24px; /* Более крупный шрифт для выделения названия магазина */
  font-weight: bold;
  margin: 0;
  color: #333;
}

.description {
  font-size: 12px; /* Более мелкий шрифт для описания */
  color: #999; /* Более светлый серый */
  margin: 0;
}

/* Информация и иконки */
.nav-header-info {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 14px;
  color: #333;
  cursor: pointer; /* Курсор pointer для кликабельных элементов */
  position: relative;
}

.nav-item img {
  margin-right: 10px;
  width: 22px; /* Чуть больше иконки, как в макете */
  height: 22px;
}

.nav-item:hover {
  color: #68D391; /* Зеленый цвет при наведении */
}

.clicked {
  color: #68D391;
  font-weight: bold;
}

/* Число в корзине */
.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #FF4500;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}

/* Адаптивный дизайн */
@media (max-width: 900px) {
  .header {
    padding: 15px 0; /* Уменьшенные отступы сверху и снизу для меньших экранов */
  }

  .nav-header-logo {
    margin-bottom: 10px;
  }

  .nav-header-info {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 10px 0;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px 0; /* Минимальные отступы сверху и снизу для узких экранов */
  }

  .nav-item {
    font-size: 12px;
  }

  .store-name {
    font-size: 20px;
  }

  .description {
    font-size: 10px;
  }
}
