.shop-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.h1-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.shop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

.search-input:focus {
  border: 1px solid #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  border-radius: 10px;
}

.product-info {
  margin-top: 10px;
}

.buy-button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .search-input {
    width: 200px;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 480px) {
  .search-input {
    width: 100%;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }
}
